/* src/styles/CreateNote.css */

.input-field {
   
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.input-field:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
}

.create-note-btn {
    padding: 12px 24px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-note-btn:hover {
    background-color: #0056b3;
}

.note-form {
    max-width: 400px;
    margin: 0 auto;
    
}

.note-form label {
    display: block;
    margin-bottom: 5px;
}

.note-form textarea {
    width: 100%;
    padding: 5px;
    
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    transition: border-color 0.3s;
}

.note-form textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
}

.note-form button {
    display: block;
    width: 100%;
    padding: 12px 0;
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.note-form button:hover {
    background-color: #0056b3;
}

.note-form a {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}


.back-to-note-btn-container {
    text-align: center;
    margin-top: 20px;
}

.back-to-note-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.back-to-note-btn:hover {
    background-color: #0056b3;
}
